// color
$white: #fff;
$black: #222;
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;

$activeRed: #fb3e1d;



// color 仮
$white: #fff;
$black: #000;
$black01: #030303;
$gray: #666;
$gray01: #707070;
$gray02: #656565;
$gray03: #E8E8E8;
$gray04: #999999;
$gray05: #555555;
$lightGray: #efefef;
$darkGray: #212121;

$red01: #800707;

// $red01:#330000;
// $red02: #580505;
$green01: #008C91;
$green02: #062109;
$yellow01: #6C4700;
$purple01: #6F2A62;




// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
