//- META INFORMATION
- const page_title = '当寺について'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = '当山は真言宗豊山派の寺院で萱田山 観音院 長福寺と号します。朱塗りの特徴のある山門から「萱田の赤寺」と呼ばれ、『八千代ふるさと50景』の一つとして地元の方々に親しまれております。'
- const meta_og_url = 'http://website.com'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = true
- const isBootstrap = false


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeaderLower.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")



        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
