/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  position: fixed;
  z-index: 10;
  width: 100%;
  @include u-trs($duration: 0.3s);

  &__inner {
    height: 114px;
    display: flex;
    padding-left: 44px;
    justify-content: space-between;
    align-items: center;

  }
  &__logo{
    display: block;
    width: 153px;
    @include u-trs($duration: 0.3s);
    @include u-hoverOp;
  }
  &__nav{
    height: 100%;
  }

  &__navList{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    height: 100%;
    margin-right: 44px;
  }
  &__navItem{
    margin-top: 57px;
    border-right: 1px solid $white;
    margin-bottom: 41px;
    &:first-child{
      border-left: 1px solid $white;
    }

  }
  &__navItemLink{
    @include u-fontMincho;
    font-size: 1.6rem;
    font-weight: 400;
    color: $white;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 1;
    display: block;
    @include u-trs($duration: 0.3s);
    @include u-hoverOp;
  }

  &.is-animation {
      background: rgba(128, 7, 7, 0.7);
  }

}

.lowerKvSec{
  background-image: url("../../_assets/images/pc/lowerHeader_img.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 172px;

}

/*====================================================================
sp
====================================================================*/
@include u-mqMax{

  .topPage .siteHeaderSP__logo{
    visibility: hidden;
    opacity: 0;
      &.is-animation {
        visibility: visible;
        opacity: 1;
      }
  }

  .siteHeaderSP {
    position: fixed;
    z-index: 10;
    width: 100%;
    @include u-trs($duration: 0.3s);
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      padding-left: 15px;
      padding-right: 22px;
    }
    &__logo {
      width: 166px;
    }

    &__nav__wrapper {
      background-color: rgba(112, 112, 112, 0.44);
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
    }

    &__nav {
      padding: 65px 15px 95px 15px;
      background-color: $red01;
      z-index: 11;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      display: none;
    }
    &__nav__logo{
      width: 166px;
      position: absolute;
      top: 13px;
      left: 15px;
    }

    &__wrap__openBtn {
      padding: 27px 22px;
      position: relative;
    }

    &__wrap__openBtnHamburger {
      display: block;
      position: absolute;
      background: $white;
      width: 38px;
      height: 2px;
      border-radius: 5px;
      // border-bottom: solid 2px $white;
      left: 6px;
    }

    &__wrap__openBtnHamburger:nth-child(1) {
      top: 13px;
    }

    &__wrap__openBtnHamburger:nth-child(2) {
      top: 23px;
    }

    &__wrap__openBtnHamburger:nth-child(3) {
      top: 33px;
    }

    &__nav__closeBtn {
      padding: 20px 24px;
      display: block;
      width: 38px;
      position: absolute;
      top: 7px;
      right: 2px;
    }

    &__nav__closeBtnHamburger {
      display: block;
      position: absolute;
      background: $white;
      width: 38px;
      height: 2px;
      border-radius: 5px;
      left: 6px;
      top: 25px;
      left: -4px;
    }

    &__nav__closeBtnHamburger:nth-child(1) {
      transform: rotate(-45deg);
    }

    &__nav__closeBtnHamburger:nth-child(2) {
      transform: rotate(45deg);
    }

    &.is-animation {
        background: rgba(51, 0, 0, 0.8);
    }

    &__nav__cont__menu{
      padding-left: 0;
    }



    &__nav__cont__menu__item{
    text-align: center;
    margin-top: 53px;
    &:first-child{
      margin-top: 70px;
      .siteHeaderSP__nav__cont__menu__item__link{
        padding-right: 60px;
        padding-left: 60px;

      }
    }
    &:last-child{
      margin-top: 70px;
      margin-bottom: 0;
      border-right: 0;
      border-left: 0;


      .siteHeaderSP__nav__cont__menu__item__link{
        background-color: $green01;
        position: relative;
        border-left: 0;
        border-right: 0;
        width: 237px;
        padding-top: 27px;
        padding-bottom: 23px;
        padding-right: 38px;
        padding-left: 35px;
        font-size: 2.2rem;
        font-weight: 600;
        text-align: left;
        &::after{
          content: '';
          background-image: url('../../_assets/images/pc/header_mail_icon.png');
          position: absolute;
          right: 28px;
          top: 50%;
          transform: translate(0, -50%);
          background-position: center;
          width: 28px;
          height: 22px;
          background-size: contain;


        }
      }
    }



    }

    &__nav__cont__menu__item__link{

      @include u-fontMincho;
      font-size: 2.4rem;
      font-weight: 400;
      color: $white;
      padding-right: 38px;
      padding-left: 38px;
      line-height: 1;
      display: inline-block;
      text-align: center;
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      letter-spacing: 0.05rem;

    }


  }

  .lowerKvSec{
    // &__imgBox{
      // height: 144px;
    // }
    &__title{
      // font-size: 2rem;
      font-size: calc(20vw / 3.75);
      margin-bottom: 0;
      position: absolute;
      // top:77%;
      top: 77%;
      left: 50%;
      transform: translate(-50%, -77%);
    }
  }

}
