/*====================================================================
topPageFvSec
====================================================================*/

img {
  width: 100%;
}

ul li {
  list-style-type: none;
  list-style: none;
}

.font {
  color:#800707;
  font-size: 20px;
  font-weight: 600;
  font-family :	YuMincho, Yu Mincho,  serif;
  margin-bottom: 0;
}

.topSec {
  width: 100%;

  &__topCont {
    width: 100%;
    background-image: url("../images/body_pc.jpg");
    background-size: cover;
  }

  &__topContInr {
    padding: 60px 0 188px;
  }

  &__bottomCont {
    width: 1075px;
    margin: 0 auto;
    text-align: center;
  }

  &__bottomContList {
    display: flex;
    justify-content: space-around;
    margin-top: -150px;
    margin-bottom: 0;
    padding-left: 0;
  }


  &__bottomContItemFig {
    width: 271px;
    margin-bottom: 0;
  }

  &__topContInfo {
    text-align: center;
    padding-bottom: 52px;
  }

  &__topContText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 auto;
    font-size: 26px;
    font-family: YuMincho, Yu Mincho, serif;
    border-left: 1.5px solid #910000;
    padding-bottom: 80px;
  }

  &__bottomContItemText {
    padding: 29px 0 27px;
  }

  &__topContBottomText {
    text-align: center;
    color: #800707;
    font-size: 32px;
    font-weight: 600px;
    font-family :	YuMincho, Yu Mincho,  serif;
  }

  &__bottomContTopText {
    color: #800707;
    font-size: 28px;
    font-weight: 600px;
    font-family :	YuMincho, Yu Mincho,  serif;
  }

  &__bottomContText {
    color:#800707;
    font-size: 20px;
    font-weight: 500px;
    font-family :	YuMincho, Yu Mincho,  serif;
    margin-bottom: 0;
  }
}

.middleSec {
  margin: 0 auto;
  background-color: #D9D8C4;

  &__inr {
    width: 1075px;
    margin: 0 auto;
    padding: 78px 0;
  }

  &__contListItem {
    background-color: #fff;
    padding: 39px 77px 26px;
    margin-bottom: 34px;
  }

  &__contList {
    padding: 0;
  }

  &__itemTitle {
    display: flex;
    justify-content: space-between;
  }

  &__itemTitleText {
    font-size: 60px;
    font-weight: 600px;
    font-family :	YuMincho, Yu Mincho,  serif;
    margin-bottom: 0;
    padding-bottom: 35px;

    &.red {
      color: #800707;
    }

    &.green {
      color: #25500F;
    }

    &.blue {
      color: #0F1250;
    }
  }

  &__itemTopDescText {
    font-size: 18px;
    color: #000;
    line-height: 1.7;
  }

  &__itemTitleInfoLeft,
  &__itemTitleInfoRight {
    width: 168px;
    display: inline-block;
    color: #fff;
    text-align: center;

    &.bgRed {
      background-color: #811102;
    }

    &.bgGreen {
      background-color: #25500F;
    }

    &.bgBlue {
      background-color: #0F1250;
    }
  }

  &__itemTitleInfoLeft {
    padding: 13px 0;
  }

  &__itemTitleInfoRight {
    padding: 13px 0;
    margin-left: 12px;
  }

  &__itemMiddleDescPrice {
    display: inline;
    color:#000;
    font-size: 33px;
    font-weight: 600;
    font-family :	YuMincho, Yu Mincho, serif;
    margin-bottom: 0;
    padding: 0 20px;

    & .middleSec__price {
    font-size: 66px
  }
}

&__itemMiddleDescRight {
  padding: 0 20px;
}

  &__itemMiddleDescPriceText {
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #000;
  }

  &__itemMiddleDescPriceTextSec {
    font-size: 24px;
    color: #000;
    padding: 0 24px;
  }

  &__itemMiddleDescPriceDetails {
    font-size: 12px;
    color: #000;
    text-align: center;

  }

  &__itemMiddleDescWideDetails {
    font-size: 12px;
    color: #000;
    text-align: left;
  }

  &__itemMiddleDesc {
    display: flex;
    justify-content: space-between;
  }

  &__itemMiddleDescBottom {
    display: flex;
    justify-content: space-between;
  }
  &__itemMiddleDescBottomFig {
    width: 444px;
  }


  &__itemMiddleText {
    font-size: 24px;
    color: #000;
  }

  &__itemMiddleDescPriceItem {
    display: flex;
    align-items: center;
    border-top: 1px solid #888;


    &:last-child {
      border-bottom: 1px solid #888;
    }
  }

  .pd {
    margin-bottom: 70px;
  }

  &__itemMiddleDescPriceList {
    padding: 13px 0 0 0;
  }


  &__itemMiddleDescFig {
    width: 437px;
  }

  &__itemMiddleDescText {
    display: inline-block;
    background-color: #1E5A0C;
    color: #fff;
    font-size: 24px;
    font-weight: 500px;
    padding: 10px 100px;
    margin-bottom: 0;
  }

  &__itemMiddle {
    padding-top: 45px;
  }


  &__itemBottom {
    background-color: #FCF3CF;
    padding: 17px 45px 9px;
  }

  &__itemBottomText {
    color: #800707;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-bottom: 0;
  }
}


.bottomSec {
  width: 100%;
  background-color: #EDCA6A;

  &__inr {
    width: 1075px;
    margin: 0 auto;
    padding: 70px 0 64px;
    display: flex;
    justify-content: space-between;
  }

  &__rightContact,
  &__leftContact {
    font-size: 36px;
    color: #000;
  }

  &__leftHourText {
    color: #000;
  }

  &__leftTel {
    font-size: 62px;
    color: #000;
  }

  &__rightContactBtn {
    font-size: 34px;
    color: #000;
    margin-left: 19px;
  }

  &__rightContactBtnLink {
    display: flex;
    padding: 42px 24px 44px 31px;
    background-color: #fff;
    margin-top: 13px;
  }

  &__rightContBtnIcon {
    width: 62px;
  }
}