header.siteHeader.is-animation.u-pcDb
    .siteHeader__inner
        h1.siteHeader__logo
            a.siteHeader__logoLink(href="index.html")
                img(src="../_assets/images/pc/header_logo.svg", alt="真言宗豊山派 萱田山 長福寺 AKADERA")
        nav.siteHeader__nav(role='navigator')
            ul.siteHeader__navList
                li.siteHeader__navItem
                    a.siteHeader__navItemLink(href="about.html") 長福寺について
                li.siteHeader__navItem
                    a.siteHeader__navItemLink(href="cemetery.html") 墓地案内
                li.siteHeader__navItem
                    a.siteHeader__navItemLink(href="access.html") 交通案内
header.siteHeaderSP.u-spDb
    .siteHeaderSP__inner
        h1.siteHeaderSP__logo
            a.siteHeaderSP__logoLink(href="index.html")
                img(src="./_assets/images/pc/header_logo.png", alt="真言宗豊山派 萱田山 長福寺 AKADERA")
        a.siteHeaderSP__wrap__openBtn.js-btn
            span.siteHeaderSP__wrap__openBtnHamburger
            span.siteHeaderSP__wrap__openBtnHamburger
            span.siteHeaderSP__wrap__openBtnHamburger
    .siteHeaderSP__nav__wrapper.headerModal
        .siteHeaderSP__nav
            h1.siteHeaderSP__nav__logo
                a.siteHeaderSP__nav__logoLink(href="index.html")
                    img(src="./_assets/images/pc/header_logo.png", alt="真言宗豊山派 萱田山 長福寺 AKADERA")
            a.siteHeaderSP__nav__closeBtn.js-closeBtn(href="javascript:void(0);")
                span.siteHeaderSP__nav__closeBtnHamburger
                span.siteHeaderSP__nav__closeBtnHamburger
            nav.siteHeaderSP__nav__cont(role='navigator')
                ul.siteHeaderSP__nav__cont__menu
                    li.siteHeaderSP__nav__cont__menu__item
                        a.siteHeaderSP__nav__cont__menu__item__link(href="index.html") トップページ
                    li.siteHeaderSP__nav__cont__menu__item
                        a.siteHeaderSP__nav__cont__menu__item__link(href="about.html") 長福寺について
                    li.siteHeaderSP__nav__cont__menu__item
                        a.siteHeaderSP__nav__cont__menu__item__link(href="gosyuin.html") 墓地案内
                    li.siteHeaderSP__nav__cont__menu__item
                        a.siteHeaderSP__nav__cont__menu__item__link(href="access.html") 交通案内
                    li.siteHeaderSP__nav__cont__menu__item
                        a.siteHeaderSP__nav__cont__menu__item__link(href="info.html") お知らせ
section.lowerKvSec
    //- figure.lowerKvSec__imgBox
    //-     img.u-pcDin(src="../_assets/images/pc/lowerHeader_img.jpg", alt="#")
    //-     img.u-spDin(src="../_assets/images/sp/lowerHeader_img.jpg", alt="#")
    //- if currentPage=='about'
    //-     h2.lowerKvSec__title
    //-         | 長福寺について
    //- if currentPage=='info'
    //-     h2.lowerKvSec__title
    //-         | お知らせ
    //- if currentPage=='access'
    //-     h2.lowerKvSec__title
    //-         | 交通情報
    //- if currentPage=='infoArchive'
    //-     h2.lowerKvSec__title
    //-         | お知らせ一覧
