footer.siteFooter
    .siteFooter__inner
        p.siteFooter__logo
            img(src="../_assets/images/pc/footer_logo.png", alt="真言宗豊山派 萱田山 長福寺 AKADERA")
        .siteFooter__innerBox
            .siteFooter__addressArea
                p.siteFooter__address
                    | 〒276-0043
                    br
                    | 千葉県八千代市萱田１４２７
                a(href="tel:047-485-4030").siteFooter__phoneNumber
                    | TEL: 047-485-4030
            nav.siteFooter__navi
                ul.siteFooter__navList
                    li.siteFooter__navItem
                        a.siteFooter__navItemLink(href="about.html")
                            | 長福寺について
                    li.siteFooter__navItem
                        a.siteFooter__navItemLink(href="cemetery.html")
                            | 墓地案内
                    li.siteFooter__navItem
                        a.siteFooter__navItemLink(href="access.html")
                            | 交通案内
            ul.siteFooter__snsList
                li.siteFooter__snsListItem
                    a(href="#").siteFooter__snsListItemlink
                        img(src="../_assets/images/pc/instagram_icon.svg", alt="instagram")
                li.siteFooter__snsListItem
                    a(href="#").siteFooter__snsListItemlink
                        img(src="../_assets/images/pc/facebook_icon.svg", alt="facebook")


|
|

// Scripts
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
if isBootstrap
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
